<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>179</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy snow nearby</string>
			<string>Get your snow shovels ready!</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>176</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy rain nearby</string>
			<string>Flooding</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>143</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Mist</string>
			<string>Dense fog</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>122</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Overcast</string>
			<string>The sun is going to die</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>119</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Cloudy</string>
			<string>Overcast</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>116</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Partly cloudy</string>
			<string>Dreary</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>113</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Clear/Sunny</string>
			<string>UV rays of death</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>182</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy sleet nearby</string>
			<string>Ice. Falling from the sky. On your head.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>299</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate rain at times</string>
			<string>It&apos;s probably going to rain all. day. long.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>296</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Light rain</string>
			<string>Downpours</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>293</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy light rain</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>284</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Heavy freezing drizzle</string>
			<string>Streets = ice rink</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>281</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Freezing drizzle</string>
			<string>Black ice conditions. Inside.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>266</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Light drizzle</string>
			<string>Definitely need rain gear</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>263</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy light drizzle</string>
			<string>Umbrella day</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>260</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Freezing fog</string>
			<string>Fog made of ice</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>248</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Fog</string>
			<string>Soup</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>230</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Blizzard</string>
			<string>End times</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>227</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Blowing snow</string>
			<string>Blizzard conditions</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>200</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Thundry outbreaks in nearby</string>
			<string>Lightning will strike you</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>185</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy freezing drizzle nearby</string>
			<string>Ice. Everywhere.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>302</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate rain</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>386</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy light rain in area with thunder</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>374</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Light showers of ice pellets</string>
			<string>Ice will sprinkle gently from the sky</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>359</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Torrential rain shower</string>
			<string>Hope you have flood insurance!</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>356</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate or heavy rain shower</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>353</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Light rain shower</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>350</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Ice pellets</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>338</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Heavy snow</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>335</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy heavy snow</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>332</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate snow</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>329</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy moderate snow</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>326</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Light snow</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>323</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy light snow</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>320</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate or heavy sleet</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>317</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Light sleet</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>314</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate or heavy freezing rain</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>311</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Light freezing rain</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>308</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Heavy rain</string>
			<string>It will rain cats and dogs and the cats will have rabies</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>305</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Heavy rain at times</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>392</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Patchy light snow in area with thunder</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>389</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate or heavy rain in area with thunder</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>377</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate or heavy showers of ice pellets</string>
			<string>It&apos;s going to rain ice. Just give up now.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>371</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate or heavy snow showers</string>
			<string>Snow. You don&apos;t own a snow shovel, do you?</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>368</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Light snow showers</string>
			<string>It&apos;s going to snow a little bit. As if that makes it okay.</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>365</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate or heavy sleet showers</string>
			<string>Bet you didn&apos;t even realize rain could freeze on the way down</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>362</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Light sleet showers</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>395</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>descriptions</key>
		<array>
			<string>Moderate or heavy snow in area with thunder</string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
